@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

/* shared */
.display-flex {
    display: flex;
}

.text-align {
    text-align: center;
}

.primary-btn {
    padding: 8px 21px;
    border-radius: 50px;
    border: none;
    background-color: #E02C6D;
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

/* nav bar start */
.header-width {
    max-width: 976px;
    margin: 0 auto;
}

nav {
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

nav ul {
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.nav-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.nav-sub-title {
    font-weight: 600;
    font-size: 1rem;
}


.mb-icon {
    display: none;
    font-size: 1.5rem;
}

label a {
    color: black;
}

label {
    position: relative;
}

.collage {
    position: absolute;
    font-size: 1rem;
    background-color: #000000;
    z-index: 2;
}

.collage li a {
    color: white;
}

/* heading section start */
.influencer-title {
    font-weight: 700;
    font-size: 3rem;
}

.influencer-description {
    font-weight: 600;
    font-size: 1rem;
}

.influencer-img-container {
    position: relative;
}

.tow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.influencer-heading-container {
    align-items: center;
}


/* main start */

/* brand logo start */
.brand-logo {
    max-width: 976px;
    margin: 60px auto;
}
.brand-logo-container img{
    width: 100%;
}
.brand-logo-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    gap: 30px;
}

hr {
    border: none;
    height: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: linear-gradient(to right, white 0%, #C0CCDA 50%, white 100%);
}

/* collection start */
.collection {
    max-width: calc(921px - 10px - 10px);
    margin: 0 auto;
    position: relative;
    margin-bottom: 130px;
}

.box {
    /* max-width: 289px; */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.253);
    padding: 10px;
}

.box img {
    width: 100%;
}

.collection-box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.collection-title {
    font-weight: 600;
    font-size: 1.5rem;
}

.collection-name {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.collection-price {
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 6px;
}

.collection-description {
    margin-top: 5px;

}

.seemore {
    font-weight: 700;
    font-size: 1rem;
    position: absolute;
    right: 0;
    margin-top: 44px;
}

/* featured start */
.featured {
    max-width: 976px;
    margin: 0 auto;
    margin-bottom: 88px;
}

.featured-container {
    gap: 60px;
}

.featured-title {
    font-weight: 600;
    font-size: 2rem;
}

.featured-description,
.featured-btn {
    font-weight: 600;
    font-size: 1rem;
}

.featured-btn {
    border-radius: 0px;
}

.influencer-product {
    color: white;
    padding: 30px 0px;
}

/* footer start influencer */
.background {
    background-color: #0A0826;
}

.yotube,
.twitter,
.drible,
.instragram {
    background-color: #14253E;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1rem;
}

.influencer-footer-icon {
    gap: 20px;
    justify-content: center;
}

.influencer-product-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: -4px;
}

.influencer-copyrights,
.influencer-allrights {
    font-weight: 500;
    font-size: 0.9rem;
    color: rgba(220, 220, 220, 0.833);
}

.influencer-allrights {
    margin-top: -10px;

}

.hide{
    display: none;
}
/* media query */
@media screen and (max-width: 576px) {
    label:hover .nav-sub-title {
        display: flex;
        max-width: 335px;
    }

    .mb-icon {
        display: block;
    }

    .nav-sub-title {
        display: none;
    }
    .influencer-heading-container {
        flex-direction: column-reverse;
    }

    nav ul,
    .influencer-heading-container {
        text-align: center;
    }

    .influencer-img-container img {
        width: 100%;
    }

    hr {
        display: none;
    }

    .brand-logo-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .d {
        grid-column: span 2;
    }

    .collection-box-container {
        grid-template-columns: 1fr;
    }

    .box {
        width: 100%;
    }

    .featured-container {
        flex-direction: column;
        text-align: center;

    }
    .featured-img-container img{
        width: 100%;
    }
}